.title
{
    padding: 25px 5%;
    background-color: #f9f9f9;
    text-transform: capitalize;
}
.api-card{
    
}
.sub-title
{
    padding: 20px 5% 0 ;
    font-size: 13px;
    color: #999;
    margin-left: 2px;
}
.method
{
    padding-left: 5%;
    font-size: 25px;
    word-break: break-all;
}
.method-name
{
    text-transform: uppercase;
    padding-right: 25px;
}
.content
{
    padding: 20px 5% 0;
}


  .param-group-h
  {
    padding-left: 16px;
    padding-top: 10px;
    text-transform: capitalize;
    font-weight: bold;
    
  }
  .param-group-t
  {
    width: 100%;
  }