<mat-card class="api-card">
    <mat-card-title class="title" >{{method.tag}}</mat-card-title>
    <mat-card-subtitle class="sub-title" >{{method.summary}}</mat-card-subtitle>
    <div class="method">
        <span class="method-name" [ngStyle]="{'color':getColor(method.name)}" >{{method.name}}</span>
        <span class="method-url" >{{method.url}}</span>
    </div>
    <mat-card-content class="content">
      <p>{{method.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>SAVE</button>
    </mat-card-actions>
  </mat-card>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Definition">Content 1</mat-tab>
    <mat-tab label="Try it out">Content 2</mat-tab>    
  </mat-tab-group>