<mat-card class="api-card" >
    <mat-card-title class="title" >{{method.tag}}</mat-card-title>
    <mat-card-subtitle class="sub-title" >{{method.summary}}</mat-card-subtitle>
    <div class="method">
        <span class="method-name" [ngStyle]="{'color':getColor(method.name)}" >{{method.name}}</span>
        <span class="method-url" >{{method.url}}</span>
    </div>
    <mat-card-content class="content">
      <p>{{method.description}}</p>
      <mat-tab-group animationDuration="0ms" dynamicHeight>        
        <mat-tab label="Definition"  >
          <mat-list>
            <mat-list-item>Parameters</mat-list-item>
            <mat-divider></mat-divider>
            <div *ngFor="let paramGroup of getParameterGroups(method)">
              <div class="param-group-h">{{paramGroup.name}}:</div>
              
              <table mat-table [dataSource]="paramGroup.parameters" class="param-group-t" >
    
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef> Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef> Description </th>
                  <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="required">
                  <th mat-header-cell *matHeaderCellDef> Required </th>
                  <td mat-cell *matCellDef="let element"> {{element.required}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
    
            </div>
          </mat-list>
            
          
          
          
          
        </mat-tab>
        <mat-tab label="Try it out">Content 2</mat-tab>    
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
  