<mat-toolbar color="primary">
    <button mat-icon-button class="header-icon" aria-label="header icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>
   <span>Carity API</span>
   <span class="header-spacer"></span>
   
   <mat-form-field class="version" appearance="fill">
    <mat-label>Version</mat-label>
    <mat-select>
      <mat-option *ngFor="let version of versions" [value]="version.value">
        {{version.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
 </mat-toolbar>